@font-face {
    font-family: 'Schriftnr_1';
    src: url('fonts/Schriftnr_1.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_2';
    src: url('fonts/Schriftnr_2.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_3';
    src: url('fonts/Schriftnr_3.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_4';
    src: url('fonts/Schriftnr_4.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_5';
    src: url('fonts/Schriftnr_5.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_6';
    src: url('fonts/Schriftnr_6.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_7';
    src: url('fonts/Schriftnr_7.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_8';
    src: url('fonts/Schriftnr_8.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_9';
    src: url('fonts/Schriftnr_9.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_10';
    src: url('fonts/Schriftnr_10.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_11';
    src: url('fonts/Schriftnr_11.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_12';
    src: url('fonts/Schriftnr_12.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_13';
    src: url('fonts/Schriftnr_13.ttf') format('truetype');
}

@font-face {
    font-family: 'Schriftnr_14';
    src: url('fonts/Schriftnr_14.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}
